.DS_Store

.gradle
local.properties
.idea
build

obj
gen
bin
out
/captures

*.iml
*.class
*.swp
.project
.settings/
proguard.map
!cocos2dx/project.properties
!cocos2dx/build.xml
.classpath
ant.properties
install.sh
